<div class="balance_box_container">
<div>
<%= image_tag "wallet_logo_no_border.png", style: 'height:15%;width:15%' %>
<h4>Total Funds: <strong><%= number_to_currency(show_full_balance(@cryptocoins) + current_user.wallet) %></h4>
<p style="padding-bottom:4%;">USD Available: <%= number_to_currency(current_user.wallet) %></p>

</div>
</div>

<%= display_header(@cryptocoin) %>

<br>
<div>
<% @cryptocoins.each do |coin| %>
  <% if (coin.investments.where(user: current_user).sum(:yield)) > 0 %>
  <%= coin.investments.where(user: current_user).sum(:yield) %>
  <% end %>
  <% end %>
  </div>

<table id="investments">
  <tr>
    <th>Cryptocoin Type</th>
    <th>Amount Invested</th> 
    <th>Time of Investment</th> 
    <th>Yield</th>
    <th>View Order</th>
  </tr>

  <% @investments.each do |inv| %>
    <tr>
    <td><%= link_to(inv.cryptocoin.name, cryptocoin_path(inv.cryptocoin.id)) %></td>
    <td><%= inv.amount %></td>
    <td><%= inv.readable_time %></td>
    <td><%= inv.yield %></td>
    <td><%= link_to("VIEW", investment_path(inv)) %></td>
   
  </tr>
  <% end %>
  </table>

  <br></br>

  <%= link_to "Sell All", [:destroy_all, :investments], method: :delete, data: { confirm: "Are you sure?" } %>