<%= display_header(@cryptocoin) %>

<table id="investments">
  <tr>
    <th>Cryptocoin Type</th>
    <th>Amount Invested</th> 
    <th>Time of Investment</th> 
    <th>Yield</th>
    <th>View Order</th>
  </tr>

  <% @investments.each do |inv| %>
    <tr>
    <td><%= link_to(inv.cryptocoin.name, cryptocoin_path(inv.cryptocoin.id)) %></td>
    <td><%= inv.amount %></td>
    <td><%= inv.readable_time %></td>
    <td><%= inv.crypto_yield %></td>
    <td><%= link_to("EDIT", investment_path(inv)) %></td>
  </tr>
  <% end %>

  <%= link_to "Sell All", [:destroy_all, :investments], method: :delete, data: { confirm: "Are you sure?" } %>