<div class="balance_box_container">
<div class="balance_box">
<%= image_tag "pixel_cash_one.png", style: 'height:15%;width:15%' %>

<p><%= link_to "USD Available: #{number_to_currency(current_user.wallet)}", new_investment_path, style: 'color:lightgreen;' %></p>

</div>
<div class="balance_box">
<%= image_tag "pixel_cash_one.png", style: 'height:15%;width:15%' %>

<p><%= link_to "Total Funds: #{number_to_currency(current_user.wallet + show_full_balance(@cryptocoins))}", investments_path, style: 'color:yellow;' %></p>

</div>

</div>

<h2> Portfolio: </h2>

<ul>
<% @cryptocoins.each do |coin| %>
  <% if (coin.investments.where(user: current_user).sum(:yield) - coin.withdrawals.where(user: current_user).sum(:yield)) > 0 %>
  <li><h3><%= image_tag "#{coin.abv}.png", style: 'height:3%;width:3%;' %>
  <strong><%= coin.name.capitalize %></strong>: <%= (coin.investments.where(user: current_user).sum(:yield) - coin.withdrawals.where(user: current_user).sum(:yield)).round(5) %> for 
  <span style="color:lightgreen;">$<%= ((coin.investments.where(user: current_user).sum(:yield) - coin.withdrawals.where(user: current_user).sum(:yield)) * coin.dollar_value).to_f.round(2) %></span>
  </h3></li>
  _
  <% end %>
  <% end %>
  </ul>

  <% if false %>
  <%= link_to "Sell All", [:destroy_all, :investments], method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>