<div class="balance_box">
<%= image_tag "wallet2.png", style: 'height:8%;width:8%;background-color:grey;border-radius:20%;' %> Wallet
<h5>Current Holdings (in USD): $<strong><%= show_full_balance(@cryptocoins) %></strong></h5>
<h5>Wallet: <strong><%= number_to_currency(current_user.wallet) %></strong></h5>
<h4>Total Funds: <strong><%= number_to_currency(show_full_balance(@cryptocoins) + current_user.wallet) %></strong></h4>
</div>

<%= display_header(@cryptocoin) %>

<br></br>

<table id="investments">
  <tr>
    <th>Cryptocoin Type</th>
    <th>Amount Invested</th> 
    <th>Time of Investment</th> 
    <th>Yield</th>
    <th>View Order</th>
  </tr>

  <% @investments.each do |inv| %>
    <tr>
    <td><%= link_to(inv.cryptocoin.name, cryptocoin_path(inv.cryptocoin.id)) %></td>
    <td><%= inv.amount %></td>
    <td><%= inv.readable_time %></td>
    <td><%= inv.yield %></td>
    <td><%= link_to("VIEW", investment_path(inv)) %></td>
   
  </tr>
  <% end %>
  </table>

  <br></br>

  <%= link_to "Sell All", [:destroy_all, :investments], method: :delete, data: { confirm: "Are you sure?" } %>