<div class="show_box">

<%= display_cryptocoin_name(@cryptocoin) %>

<% if @investment.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being saved:</h3>

    <ul>
      <% @investment.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %> 

<%= render 'form' %>
<br></br>

</div>

<br></br>

<div class="search_box">
<h3> All Previous Investments </h3>
</div>

<br>

<table id="investments">
  <tr>
    <th>Cryptocoin Type</th>
    <th>Amount Invested</th> 
    <th>Time of Investment</th> 
    <th>Yield</th>
    <th>View Order</th>
  </tr>

  <% @investments_past.each do |inv| %>
    <tr>
    <td><%= link_to(inv.cryptocoin.name.capitalize, cryptocoin_path(inv.cryptocoin.id)) %></td>
    <td><%= inv.amount %></td>
    <td><%= inv.readable_time %></td>
    <td><%= inv.yield %></td>
    <td><%= link_to("VIEW", investment_path(inv)) %></td>
   
  </tr>
  <% end %>
  </table>