<h3> Your Investment: </h3>

$<%= @investment.amount %> for 
<%= @investment.crypto_yield.round(5) %> of <%= @investment.cryptocoin.name.capitalize %>: Order filled on 
<%= @investment.readable_time %> <br></br>


<% if false %>

using an 'if false' block to comment out edit and delete links

<%= link_to "Adjust", edit_investment_path(@investment) %> ......
<%= link_to "Sell", investment_path(@investment), method: 'delete', data: { confirm: "Are you sure?" } %>

<% end %>
