<h3> Your Investment: </h3>

$<%= @investment.amount %> worth of 
<%= @investment.cryptocoin.name %> on 
<%= @investment.readable_time %> ...

 <%= link_to "Adjust", edit_investment_path(@investment) %> ...
 <%= link_to "Sell", investment_path(@investment), method: 'delete' %>

