<div class="show_box">

<h3> Your Investment: </h3>

<span style="color:lightgreen;">$<%= @investment.amount %></span> for 
<strong><%= @investment.crypto_yield.round(5) %></strong> of <span style="color:lightblue;"><strong> <%= @investment.cryptocoin.name.capitalize %></strong></span>
<br></br>
Order filled on 
<%= @investment.readable_time %> <br></br>

<%= link_to "Return to Portfolio", investments_path %>

<br></br>

</div>

<% if false %>

using an 'if false' block to comment out edit and delete links

<%= link_to "Adjust", edit_investment_path(@investment) %> ......
<%= link_to "Sell", investment_path(@investment), method: 'delete', data: { confirm: "Are you sure?" } %>

<% end %>
