
<div class="search_box">
<%= form_tag cryptocoins_path, :method => "get" do %>
    <%= label_tag(:search, "Find Crypto:") %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search All Assets' %>
    <%= submit_tag("Search", :name => nil) %>
    <% end %>
    <br>
    <%= image_tag "#{@searched_coins[0].abv}.png", style: 'height:8%;width:8%;' %>  <%= link_to(@searched_coins[0].name.capitalize, cryptocoin_path(@searched_coins[0])) %>
    <br></br>

    <% if flash[:alert] %>
    <div class="green"><%= flash[:alert] %></div>
    <% end %> 

    </div>
    
    
    <br><br>

<div class="portfolio">
<h3> All Assets: </h3>

<ul class="list"> <% @cryptocoins.each_with_index do | coin, index | %>

    <li> <%= image_tag "#{@coins["data"]["coins"][index]["symbol"]}.png", style: 'height:3%;width:3%;' %> 
    <%= link_to(@coins["data"]["coins"][index]["name"], cryptocoin_path(@cryptocoins.find_by(abv: @coins["data"]["coins"][index]["symbol"]))) %> (<%= @coins["data"]["coins"][index]["symbol"] %>) is currently trading at: 
    <span class="price"><%= number_to_currency(@coins["data"]["coins"][index]["price"]) %></span>

    <% if @coins["data"]["coins"][index]["change"] > 0 %>
    <span class="green"> +<%= @coins["data"]["coins"][index]["change"] %></span>
    <% elsif @coins["data"]["coins"][index]["change"] < 0 %>
    <span class="red"><%= @coins["data"]["coins"][index]["change"] %></span>
    <% end %>
    </li>

    <h5></h5>
    <br>
    <% end %>

    </ul>

    </div>