<h3> All Availabe Cryptocoin Types: </h3>

<%= form_tag cryptocoins_path, :method => "get" do %>
    <%= label_tag(:search, "Search for Crypto Type:") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil) %>
    <% end %>
    <br></br>
   Invest in... <%= link_to(@searched_coins[0].name.capitalize, cryptocoin_path(@searched_coins[0])) %>
    <br></br>

    <% if flash[:alert] %>
    <div class="green"><%= flash[:alert] %></div>
    <% end %> <br><br>

<ul class="list"> <% @cryptocoins.each_with_index do | coin, index | %>
    <li> <%= image_tag "#{coin.abv}.png", style: 'height:3%;width:3%;' %> <%= link_to(coin.name.capitalize, cryptocoin_path(coin)) %> is currently trading at: <span class="price">$<%= @coins["data"]["coins"][index]["price"] %></span>
    <% if @coins["data"]["coins"][index]["change"] > 0 %>
    <span class="green"> +<%= @coins["data"]["coins"][index]["change"] %></span>
    <% elsif @coins["data"]["coins"][index]["change"] < 0 %>
    <span class="red"><%= @coins["data"]["coins"][index]["change"] %></span>
    <% end %>
    </li>
    <br>
    <% end %>
    

    </ul>