<!DOCTYPE html>
<html>
  <head>
    <title>CryptoTrader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="logo">
  <%= link_to(image_tag("cryptotraderlogo.png"), cryptocoins_path) %>
  </div>
  
  <div class="header">
  <% if !current_user %>
  <%= link_to(image_tag("google_login.png", width: 150), '/auth/google_oauth2', method: :post) %>
  <%= link_to("Sign Up", '/signup') %>
  <%= link_to("Log In", '/login') %>
  <% elsif !!current_user %>
  <%= link_to(current_user.email, user_path(current_user)) %>
  <%= link_to("Buy / Sell", new_investment_path) %>
  <%= link_to("Wallet", investments_path) %>
  <%= link_to("Log Out", '/logout', method: 'delete') %>
  <% end %>
  </div>

  <br>

  <% if flash[:message] %>
  <div class="field_with_errors"> <%= flash[:message] %> </div>
  <% end %> <br><br>

  

    <%= yield %>

  </body>

</html>
