<!DOCTYPE html>
<html>
  <head>
    <title>CryptoTrader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if false %>
  <div class="logo">
  <%= link_to(image_tag("cryptotraderlogo.png"), cryptocoins_path) %>
  </div>
  <% end %>
  
  <div class="header">
  
  <% if !current_user %>
  <%= link_to image_tag("cryptotrader_logo_coinLarge.png", :class => "logo"), cryptocoins_path, :class => "logo_box_wide" %>
  <%= link_to image_tag("google_login.png", width: 150), '/auth/google_oauth2', method: :post, style: 'display:block;padding-top:2.5%' %>
  <%= link_to "Sign Up", '/signup', style: 'display:block;padding-top:3%' %>
  <%= link_to "Log In", '/login', style: 'display:block;padding-top:3%' %>
  <% elsif !!current_user %>
  <%= link_to image_tag("cryptotrader_logo_coinLarge.png", :class => "logo"), cryptocoins_path, :class => "logo_box" %>
  <%= link_to current_user.email, user_path(current_user), style: 'display:block;padding-top:3%' %>
  <%= link_to "Balance: #{number_to_currency(current_user.wallet)}", investments_path, style: 'display:block;padding-top:3%'  %>
  <%= link_to "Buy", new_investment_path, style: 'display:block;padding-top:3%' %>
  <%= link_to "Sell", new_withdrawal_path, style: 'display:block;padding-top:3%' %>
  <%= link_to "Log Out", '/logout', method: 'delete', style: 'display:block;padding-top:3%' %></p>
  <% end %>
  </div>

  <br>

  <% if flash[:message] %>
  <div class="field_with_errors"> <%= flash[:message] %> </div>
  <% end %> <br><br>

  

    <%= yield %>

  </body>

</html>
