<!DOCTYPE html>
<html>
  <head>
    <title>CryptoTrader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="logo">
  <%= link_to(image_tag("cryptotraderlogo.png"), cryptocoins_path) %>
  </div>
  
  <div class="header">
  <%= button_to("Log In With Google", '/auth/google_oauth2') %>
  <%= link_to("Sign Up", '/signup') %>
  <%= link_to("Log In", '/login') %>
  <%= link_to("Log Out", '/logout', method: 'delete') %>
  </div>

  <br>

  <% if flash[:message] %>
  <div class="field_with_errors"> <%= flash[:message] %> </div>
  <% end %> <br><br>

  

    <%= yield %>
  </body>
</html>
